<?xml version="1.0"?>
<launch>
	<!-- MAVROS posix SITL environment launch script -->
	<!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
	<!-- vehicle model and world -->
	<arg name="est" default="ekf2"/>
	<arg name="vehicle" default="iris"/>
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>
	<arg name="R" default="0"/>
	<arg name="P" default="0"/>
	<arg name="Y" default="0"/>
	
	<arg name="path" default="empty_room_big/stl" />
	
	<!-- UAV2 -->
	<group ns="iris_2">
		<!-- MAVROS and vehicle configs -->        
		<arg name="ID" value="2"/>
		<arg name="fcu_url" default="udp://:14542@localhost:14582"/>
		<!-- tf between world frame and map frame -->        
		<node pkg="tf2_ros" type="static_transform_publisher" name="world2map" args="1 $(arg y) $(arg z) $(arg R) $(arg P) $(arg Y) world iris_$(arg ID)/map" />
		<!-- tf between base_link and lase_link -->        
		<node pkg="tf2_ros" type="static_transform_publisher" name="base_link2laser_link" args="0.02 0 0.08 0 0 0 iris_2/base_link iris_2/laser_link" />
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find he_launch)/launch/uavs/single_vehicle_spawn.launch">
			<arg name="x" value="$(eval arg('x') + 1)"/>
			<arg name="y" value="$(arg y)"/>
			<arg name="z" value="$(arg z)"/>
			<arg name="R" value="$(arg R)"/>
			<arg name="P" value="$(arg P)"/>
			<arg name="Y" value="$(arg Y)"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="ID" value="$(arg ID)"/>
			<arg name="sdf" default="$(find he_launch)/models/uav/$(arg vehicle)_$(arg ID).sdf"/>
		</include>
		<!-- MAVROS -->
		<include file="$(find mavros)/launch/node.launch">
			<arg name="pluginlists_yaml" value="$(find he_launch)/config/px4_pluginlists.yaml"/>
			<arg name="config_yaml" value="$(find he_launch)/config/px4_config_2.yaml"/>

			<arg name="fcu_url" value="$(arg fcu_url)"/>
			<arg name="gcs_url" value=""/>
			<arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
			<arg name="tgt_component" value="1"/>
		</include>

		<!-- LaserScan to PointCloud -->
		<include file="$(find he_launch)/launch/uavs/laserscan_to_pointcloud.launch">
			<arg name="scan" value="/iris_$(arg ID)/scan"/>
			<arg name="cloud" value="/lidar_pc"/>
		</include>
	</group>
</launch>
