<?xml version="1.0"?>
<launch>
	<node type="rviz" name="rviz" pkg="rviz"/>
	<arg name="world" default="simple2"/>
	<!-- Gazebo sim -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="true"/>
		<arg name="world_name" value="$(find he_launch)/worlds/$(arg world).world"/>
		<arg name="debug" value="false"/>
		<arg name="verbose" value="false"/>
		<arg name="paused" value="false"/>
		<arg name="respawn_gazebo" value="true"/>
		<arg name="use_sim_time" default="true"/>
	</include>
</launch>

