<?xml version="1.0"?>
<launch>
	<arg name="world" default="$(find he_launch)/worlds/simple2.world"/>
	<!-- Gazebo sim -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="false"/>
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="false"/>
		<arg name="verbose" value="false"/>
		<arg name="paused" value="false"/>
		<arg name="respawn_gazebo" value="true"/>
		<arg name="use_sim_time" default="true"/>
	</include>
</launch>

