<?xml version="1.0"?>
<launch>
	<include file="$(find he_launch)/launch/octomap_central_server/octomap_central_server.launch"/>
	<include file="$(find he_launch)/launch/uavs/uavs.launch"/>
	<include file="$(find evaluation)/launch/evaluation.launch">
		<arg name="file" value="/$(find evaluation)/plot_graph/aep_1.txt"/>
		<arg name="octomapTopic" value="/iris_2/stl_aeplanner/octomap_full"/>
	</include>
</launch>

