<?xml version="1.0" ?>
<launch>
	<group ns="2_ns">
		<node name="multi_robot_collision" pkg="stl_aeplanner" type="publisher" output="screen">
			<param name="distance_threshold" value="0.2" />
			<param name="visualization" value="true" />
			<param name="robot_name" value="/iris_2" />
		</node>
		<node name="test" pkg="stl_aeplanner" type="test" output="screen">
			<param name="robot_name" value="/iris_2" />
		</node>
	</group>
</launch>
